@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body::-webkit-scrollbar {
	width: 16px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
	background: white;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
	background-color: #083b66;    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 3px solid	#DCE0D9;  /* creates padding around scroll thumb */
  }

*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', italic;
}
#mapid { height: 700px; width :80%; margin-left:auto; margin-right:auto;transition: 1s; z-index: 0; border-style: outset none; border-width: 5px 20px; }


label{
	width: 150px;
	display: inline-block;
    text-align: center;
	
}

.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgb(255, 255, 255));
	background-position: center;
	background-size: cover;
	position: relative;
	
}
.header1{
	
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(black);
	background-position: center;
	background-size: cover;
	position: relative;
	color: #083b66;
}

.navbar-brand img{
    height: 3rem;

}
nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-self: center;
	color: #083b66;
}
nav a{
	font-size: 30px;
    text-decoration: none;
    
    font-family: 'Poppins', bold;
   
	color: brown;
}

nav img{
	position: relative;
	width: 150px;
	left: 50px;

}
.shortcut_icon{
	flex: 1;
	text-align: center;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #083b66;
	text-decoration: none;
	font-size: 13px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #083b66;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%;
}

.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: rgb(0, 208, 255);
	border:	1px solid black;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover{
	border: 1px solid white;
	background: #083b66;
	transition: 1s;
}

nav .fa{
	display: none;
}
@media(max-width: 767.98px){
	#mapid { height: 500px; width :80%; margin-left:auto; margin-right:auto;transition: 1s;z-index: 0;}
	
}
@media(max-width: 767.98px){
	
	.nav-links ul li{
		display: block;
	}
	.nav-links{
		position: fixed;
		background: #083b66(27 21% 15% / 0.938);
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fa{
		display: block;
		color: white;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}
	.nav-links ul{
		padding: 30px;
	}
	.nav-links ul li::after{
		content: '';
		width: 0%;
		height: 2px;
		background: rgb(0, 0, 0);
		display: block;
		margin: auto;
		transition: 0.5s;
	}
}





.err p{
    color: red;
}



.input-field {
    display: inline-block;
    margin: 10px 0;
    width: 100%;
	font-weight: 600;
	color: white;
}

.input-field .input-label {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 2px;
}

.input-field .input {
    font-family: 'Poppins', italic;
    border: 1px solid #083b66;
   
    outline: none;
    width: 60%;
    padding: 5px;
    font-size: 15px;
    transition: 0.3s all ease;
}

.input-field .input:focus {
    border-color: white;
}
@media(max-width: 767.98px){
	.input-field {
		width: 90%;
	}
}


.table{
	justify-content: center;
	align-items: center;
}






.form-group1{
	display: inline-block;
    margin: 10px 0;
    width: 85%;
	font-weight: 600;
	
	justify-content: center;
	align-items: center;
  }
@media(max-width: 767.98px){
	.form-group1{
		width: 50%;
		
	  }
}







.hero-btn1{
	display: inline-block;
	text-decoration: none;
	color: rgb(0, 0, 0);
	border:	1px solid rgb(0, 0, 0);
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn1:hover{
	border: 1px solid #083b66;
	background: #083b66;
	transition: 1s;
}

/*       --------         contact with case                -----------  */

.search-input.active input{
	border-radius: 5px 5px 0 0;
  }
  .search-input .autocom-box{
	padding: 0;
	opacity: 0;
	pointer-events: none;
	max-height: 280px;
	overflow-y: auto;
  }
  .search-input.active .autocom-box{
	padding: 10px 8px;
	opacity: 1;
	pointer-events: auto;
  }
.autocom-box li{
	list-style: none;
	padding: 8px 12px;
	display: none;
	width: 60%;
	cursor: default;
	border-radius: 3px;
  }
  .search-input.active .autocom-box li{
	display: block;
  }
  .autocom-box li:hover{
	background: #083b66;
  }


.content-table:hover{
	box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.479);
	transition: 0.5s;
}



.content-table {
	border-collapse: collapse;
	position: relative;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -10%);
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px #083b66;
  }

  @media(max-width: 767.98px){
	.content-table {
		font-size: 0.7em;
		width: 50%;
	}
}

  .content-table thead tr {
	position: relative;
	top: 50%;
	left: 30%;
	/* bring your own prefixes */
	transform: translate(-30%, -12%);
	background-color: #083b66;
	color: white;
	text-align: center;
	font-weight: bold;
	
  }


  .content-table th,
  .content-table td {
	padding: 12px 15px;
  }
  
  .content-table tbody tr {
	border-bottom: 1px solid #083b66;
  }
  
  .content-table tbody tr:nth-of-type(even) {
	background-color: white;
  }
  
  .content-table tbody tr:last-of-type {
	border-bottom: 2px solid #083b66;
  }
  
  .content-table tbody tr.active-row {
	font-weight: bold;
	color: #083b66;
  }

 
/*---- case ----*/

.case{
	
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 150px;
	border-style: outset none;
	
}
.case-col{
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: center;
	background: #083b66;
	transition: 0.5s;
}
.case-col img{
	width: 100%;
	border-radius: 10px;
}
.case-col p{
	padding: 0;
}
.case-col h3{
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: center;
}
.case-col:hover{
	box-shadow: 0 0 20px 0px #083b66;
}

 @media(max-width: 767.98px){
 	.row{
 		flex-direction: column;
 	}
	
 }

 /*-------- stixish eswterikoy pinakwn------*/

.row{
	
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 150px;

}



/*------Account Settings------*/

.settings{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 150px;
}
.settings-col{
	flex-basis: 31%;
	border-radius: 10px;
	margin-bottom: 5%;
	text-align: center;
	background: #083b66;
	transition: 0.5s;
}
.settings-col img{
	width: 100%;
	border-radius: 10px;
}
.settings-col p{
	padding: 0;
}
.settings-col h3{
	margin-top: 16px;
	margin-bottom: 15px;
	text-align: center;
	color: white;
}
.settings-col:hover{
	box-shadow: 0 0 20px 0px #083b66;
}


/*-------footer-----*/


.footer{
	width: 100%;
	text-align: center;
	padding: 30px 0;
	padding-top: 150px;
}
.footer h4{
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}
.icons .fa{
	color: #083b66;
	margin: 0 13px;
	cursor: pointer;
	padding: 18px 0;
}
.fa-heart-o{
	color: #083b66;
}
  
/*-------popup-----*/


.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 1px solid white;
	border-radius: 12px;
	z-index: 10;
	background-color: white;
	width: 500px;
	max-width: 80%;
	border-style: solid;
  }
  
  .popup.active {
	transform: translate(-50%, -50%) scale(1);
  }
  
  .popup-header {
	padding: 12px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid white;
  }
  
  .popup-header .title {
	font-size: 1.25rem;
	font-weight: bold;
  }
  
  .popup-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
  }
  
  .popup-body {
	padding: 12px 15px;
  }
  
  #overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
  }
  
  #overlay.active {
	opacity: 1;
	pointer-events: all;
  }


.footer-logo {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
}
  